@import "normalize.styl"
@import "icomoon.styl"

gris_oscuro = #333333
gris_claro = #818181
rojo = #CC2F6F

a
	text-decoration none

body
	font-family: 'Varela Round', sans-serif
	font-size 16px

figure
	margin 0

.action
	color white
	margin-right .5em
	font-size 1.2em
	&:last-child
		margin-right 0

	&.gray
		color gris_claro

.right-text
	text-align right

.actions
	position absolute
	bottom 0
	left 0
	right 0
	background rgba(black,.3)

.padding
	padding 1em

.padding-t-b
	padding 1em 0

.progress
	margin-top 1.5em
	position relative

	.min
	.max
		position absolute
		font-size .8em
		top -.5em

	.min
		left 0

	.max
		right 0

	.state
		width 30%
		background rojo
		height 5px
		border-radius 5px
		position relative

		.circle
			background gris_oscuro
			width 10px
			height 10px
			border-radius 50%
			position absolute
			right 0
			top -2px

	.total
		height 5px
		background gris_claro
		border-radius 5px
		width 70%
		margin 0 auto

.author
	color gris_claro

.borde-inferior
	border-bottom 1px solid gris_claro

.button-menu
	color gris_oscuro
	font-size 1.4em
	left .5em
	margin-top -.5em
	position absolute
	top 50%

.center-block
	margin 0 auto

.center-text
	text-align center

.container
	font-size 0
	padding 1.4rem
	text-align center

header
	height 3.5em

	.title
		font-size 1.1em
		line-height 3.5em
		text-align center
img
	vertical-align top

.menu
	display none


.name
	color gris_oscuro


.playing
	&.small
		width 20em
	

.relative
	position relative

.song
	display inline-block
	font-size 1rem
	margin-bottom 1em
	margin-right 1em
	text-align left
	width 7.75rem

	&:nth-child(even)
		margin-right 0

	p
		margin .5em 0
